{% extends 'header.html' %}
{% load static %}

{% block content %}
<!doctype html>
<html lang="en">
{% if cart %}
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Cart</h1>
                    </div>
                </div>
                <div class="col-lg-7"></div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->

    <div class="untree_co-section before-footer-section">
        <div class="container">
            <div class="row mb-5">
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">Image</th>
                                <th class="product-name">Product</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-total">Total</th>
                                <th class="product-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in cart %}
                            <tr>
                                <td class="product-thumbnail">
                                    <img style="height: 150px; width: 200px; border-radius: 10%; border: 2px green solid; box-shadow: 0px 0px 1px 2px green;" src="{{i.product.productimage.url}}" alt="Image" class="img-fluid">
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black">{{ i.product.productname }}</h2>
                                </td>
                                <td>${{ i.product.pprice }}</td>
                                <td>
                                    <form id="quantity-form-{{ i.pk }}" method="post" action="{% url 'changeqty' pk=i.pk %}">
                                        {% csrf_token %}
                                        <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                                            <input type="number" class="form-control text-center quantity-amount" value="{{ i.qty }}" name="qty" oninput="submitForm('{{ i.pk }}')">
                                        </div>
                                    </form>
                                </td>
                                <td id="roundtotal-{{ i.pk }}">{{ i.roundtotal }}</td>
                                <td><a href="{% url 'deletecart' pk=i.product.pk %}" class="btn btn-black btn-sm">X</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6 mb-3 mb-md-0">
                            <button class="btn btn-black btn-sm btn-block">Update Cart</button>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'shop' %}" class="btn btn-outline-black btn-sm btn-block">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-black h4" for="coupon">Coupon</label>
                            <p>Enter your coupon code if you have one.</p>
                        </div>
                        <div class="col-md-8 mb-3 mb-md-0">
                            <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-black">Apply Coupon</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">Subtotal</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">${{ net }}</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">Total(Tax)</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">${{ subtotal }}</strong>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-black btn-lg py-3 btn-block" id="rzp-button1">Proceed To Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div class="container mt-5 p-5 mb-5">
        <div class="row">
            <div class="col-sm-12 pt-5 mb-5">
                <h1>No products added!! Add products to checkout/buy</h1>
            </div>
        </div>
    </div>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function submitForm(pk) {
        var form = $('#quantity-form-' + pk);
        var formData = form.serialize();

        $.ajax({
            type: 'POST',
            url: form.attr('action'),
            data: formData,
            success: function(response) {
                if (response.roundtotal) {
                    $('#roundtotal-' + pk).text(response.roundtotal);
                } else if (response.error) {
                    alert('Error: ' + response.error);
                }
            },
            error: function(xhr, status, error) {
                alert('Error updating quantity. Status: ' + status + ' Error: ' + error);
                console.log('Response:', xhr.responseText);
            }
        });
    }

    var options = {
        "key": "rzp_test_3iCOPLbchUyIwQ", // Enter the Key ID generated from the Dashboard
        "amount": "{{context.payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Furni",
        "description": "Test Payment", // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            window.location.href = `http://127.0.0.1:8000/thankyou?razorpay_payment_id=${response.razorpay_payment_id}`;
        },
        "theme": {
            "color": "#94CA21"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e) {
        rzp1.open();
        e.preventDefault();
    }
</script>
{% endblock %}
</html>
