<!-- manage_institute/templates/student_list.html -->
{% extends 'base.html' %}

{% block title %}Students{% endblock %}

{% block content %}
<h2 class="pt-3 mb-3 text-center">Students</h2>
<table style="border: 2px solid pink; box-shadow: 0px 0px 0px 5px pink;" class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Date of Birth</th>
            <th>Date of Joining</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.full_name }}</td>
            <td>{{ student.date_of_birth }}</td>
            <td>{{ student.date_of_joining }}</td>
            <td>{{ student.address }}</td>
            <td>
                <a href="{% url 'edit_student' student.id %}" class="btn btn-info">Edit</a>
                <a href="{% url 'delete_student' student.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
